doctype html
html
  head
    title Books Management
    link(rel="stylesheet" href="/public/logout.css")
  body
    .container
      h1 You have successfully logged out.
      p Thank you for using our service.

      p
        a(href="/") Return to Home
        br
        a(href="/login") Login Again
